.App {
    text-align: center;
}

.app--display {
    display: flex;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.create-account-link {
    color: #448f44;
    transition: all 0.3s ease-in-out;
}

.create-account-link:hover {
    text-decoration: wavy;
}