.App {
  text-align: center;
}

.app--display {
  display: flex;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.create-account-link {
<<<<<<< HEAD
  color: #448f44;
  transition: all 0.3s ease-in-out;
}

.create-account-link:hover {
  text-decoration: wavy;
}
=======
    color: #448f44;
    transition: all 0.3s ease-in-out;
}

.create-account-link:hover {
    text-decoration: wavy;
}
>>>>>>> dfb4df292fdaa606d2cf29a1f0781ff363ff5220
